.grid-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 0.4fr 1.6fr 1fr;
  grid-template-rows: 9.9% 1.7fr 0.3fr;
  gap: 1rem 0px;
  grid-template-areas:
    "balance balance balance balance"
    "transactions transactions transactions transactions"
    "logout logout actions actions";
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: actions;
}
.balance {
  grid-area: balance;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logout;
}
.transactions {
  text-align: center;
  grid-area: transactions;
}

.transactions ul {
  list-style: none;
}
.transactions ul li {
  font-size: 1.2rem;
  width: 100%;
}
